* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #f2f3f5;
    --blue: #0526DD;
    --light_blue: #9CA1AB;
    --black: #090909;
    --grey: #9CA1AB
}

body {
    height: 100vh;
    width: 100vw;
    background: var(--white);
    color: var(--black);
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     */
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
}

.container {
    /* border: 1px solid; */
    padding: 10px;
}

#box_model {
    height: 30%;
}

#position {
    height: 50%;
}

#selector {
    height: 45%;
}

#button {
    height: 20%;
}

#background {
    height: 25%;
}

#colors, #cheatsheet-header {
    height: 15%;
}

#title {
    height: 30px;
    padding: 0;
    font-weight: 600;
    color: #909ba8;
}

#font {
    height: 30%;
}

#flexbox {
    height: 70%;
}

/* Box Model */

#box_model {
    display: flex;    
}

#box_model_diagram {
    height: 100%;
    width: 50%;
    /* padding: 10px; */
}

[component="margin"] {
    background: #0526DD;
    height: 80%;
    padding: 20px;
    border-radius: 2px;
}

[component="border"] {
    background: #2c4af2;
    height: 100%;
    padding: 20px;
    border-radius: 2px;
}

[component="padding"] {
    background: #566ce9;
    height: 100%;
    padding: 20px;
    border-radius: 2px;
}

[component="content"] {
    background: #283892;
    height: 100%;
    padding: 20px;
    border-radius: 2px;
}

#box_model_content {
    width: 50%;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#box_model_text {
    display: inline-block;
    height: 10%;
}

#color {
    display: inline-block;
    border-radius: 2px;
    height: 20px;
    width: 20px;
}

/* Selector Table */

#selector_table {
    /* border: 1px solid; */
    height: 80%;
    width: 100%;
    border-radius: 3px;
    font-size: 0.8rem;
    /* background: white; */
}

#selector_table_data {
    min-width: 30%;
    padding: 4px 8px;
    vertical-align: top;
    /* text-align: left; */
    border-bottom: 1px solid #cccfd5;
}

.left {
    font-weight: 500;
}

.right {
    text-align: right;
}

/* Background */

#background {
    display: flex;
}

#background_image {
    width: 50%;
    height: 100%;
    /* border: 1px solid red; */
    /* padding: 10px; */
}

#background_text {
    /* border: 1px solid red; */
    width: 50%;
    height: 100%;
    padding: 10px;
}

#image_bg {
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

/* Button */

#button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#actual_button_container {
    display: flex;
    height: 100%;
}

#button_item {
    height: 30%;
    width: 100%;
}

#button_code {
    height: 70%;
    padding: 0 10px;
}

/* Position */

.position_container {
    display: flex;
    justify-content: space-between;
    height: 45%;
    /* border: 1px solid; */
    font-size: 0.8rem;
    text-align: center;
}

.position_block {
    /* border: 1px solid; */
    width: 50%;
}

.parent_div {
    height: 70%;
    border: 1px solid #909ba8;
    border-radius: 2px;
    margin: 10px;
    padding: 5px;
}

.position_text {
    padding: 0 10px;

}

.child_div {
    height: 30px;
    width: 30px;
    border: 1px solid #9CA1AB;
    font-weight: 600;
    color: white;
    border-radius: 2px;
}

#relative_1 {
    background: #5c74ff;
    border: 1px dashed #909ba8;
}

#relative_2 {
    background: #0526DD;
    margin: auto;
}

#absolute_1 {
    background: #0526DD;
    margin: 50px auto;
}

#fixed_1 {
    background: #0526DD;
}

#fixed_2 {
    background: #0526DD;
    position: absolute;
    bottom: 10%;
}

#sticky_1 {
    background: #0526DD;
    display: sticky;
}

/* FlexBox */

.flex_main {
    width: 100%;
    height: 90%;
    display: flex;
}

.flex_sub {
    width: 49%;
    height: 100%;
}

.flex_item {
    height: 16.5%;
    padding: 10px;
    display: flex;
}

.flex_boxes {
    display: flex;
    height: 100%;
    width: 40%;
    max-width: 40%;
    border: 1px solid #909ba8;
    border-radius: 2px;
}

.flex_code {
    padding: 0 8px;
}

[box="flex_box"] {
    border: 1px solid white;
    border-radius: 2px;
    width: 25%;
    font-size: 0.7rem;
    min-height: 31%;
    font-weight: 600;
    text-align: center;
    background: #0526DD;
    color: white;
}

#flex_box_1 {
    background: #0526DD;
}

#flex_box_2 {
    background: #0526DD;
}

#flex_box_3 {
    background: #0526DD;
}

#box_1 {
    justify-content: flex-start;
}

#box_2 {
    justify-content: flex-end;
}

#box_3 {
    justify-content: center;
}

#box_4 {
    justify-content: space-between;
}

#box_5 {
    justify-content: space-around;
}

#box_6 {
    justify-content: space-evenly;
}

#box_7 {
    align-items: flex-start;
}

#box_8 {
    align-items: flex-end;
}

#box_9 {
    align-items: stretch;
}

#box_10 {
    align-items: baseline;
}

#box_11 {
    align-items: center;
}

/* Color */

.color_container {
    width: 100%;
    height: 25%;
    display: flex;
    padding: 2px;
}

#color_container {
    height: 100%;
    width: 20%;
}

#color_code {
    height: 100%;
    width: 80%;
    font-size: 0.8rem;
    padding-left: 10px;
    color: #1f1f1f;
    font-weight: 200;
}

.color1 {
    background: #0526DD;
}

.color2 {
    background: rgba(5, 38, 221, 0.5);
}

.color3 {
    background: linear-gradient(#0526DD, #ffffff);
}

.btn {
    text-transform: uppercase;
    padding: 10px;
    display: block;
    margin: 5px auto;
    min-width: 80%;
    border: none;
    outline: none;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    font-size: 0.7rem;
    background: #0526DD;
    box-shadow: 1px 1px 2px rgb(184, 184, 184);
}

.btn:hover {
    background: #041780;
    cursor: pointer;
    box-shadow: 1px 1px 2px rgb(97, 97, 97);
}

[type="code"]{
    color: 1f;
}

/* Cheatsheet  */
#cheatsheet-header {
    /* display: flex; */
}

.cheatsheet_title {
    width: 100%;
    /* border: 1px solid; */
    font-size: 3em;
    color: var(--grey);
    font-weight: 600;
	/* text-align: center; */
}

.personal_details {
    width: 50%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#link {
    padding-left: 10px;
}